**/*.min.js
site/assets/js/lucide.min.js
ui/**
apps/**
**/node_modules/**

# Allow ESLint to lint the frontend
!apps/frontend/src/**

# Allow ESLint to lint the frontend
!apps/frontend/
!apps/frontend/**
!apps/frontend/src/**
apps/frontend/dist/**
